template(name="App_notFound")
  div.page.not-found
    nav
      div.nav-group
        a.js-menu.nav-item(href="#")
          span.icon-list-unordered

    div.content-scrollable
      div.wrapper-message
        div.title-message
        | {{_ 'Page not found'}}