body {


	section#soft {

		width: 100%;
		left:-100%;
		height: 100%;
		padding-right: @largeurNav;


		& > div {
			position: relative;
			height: 100%;
			width: 100%;
			
			header {
				
				height: @Softheader_height;
				border-bottom:1px solid @whiteBorder;
				background-color: @whiteSmoke;
				position: absolute;
				
				width: 100%;
				z-index: 101;
				
				& > div {
					padding: 1em;
					&:not(.redaction){
						width: 65%;
						background: @white;
						height: 100%;
						float: right;
					}
					&.redaction{
						
						height: 100%;
    					position: relative;
						bottom:0;
						display: table;
						
						div {
							display: table-cell;
    						vertical-align: bottom;
						}
					}
				}

				& > div:not(.redaction){
					border-left:1px solid @whiteBorder;
				}
				ul.icons {
					
					float: right;
					height: 100%;
					border-left:1px solid @whiteBorder;

					li {

						display: block;
						float: left;
						height: 100%;
						text-align: center;
						width: 130px;
						&:hover {
							cursor:pointer;
							button{
								opacity: 1;
								margin-top: .5em;
							}
						}
						&:before {
							.anim();
						    display: block;
						    width: 1px;
						    height: 40%;
						    background-color: @whiteBorder;
						    content: close-quote;
						    float: right;
						    margin-top: 40%;
						}
						&:last-child:before{
							display: none;
						}
						button{
							margin-top: 0;
							opacity: 0;
							.anim();
						}
						h2 {
							&.b{
								font-weight: bold;
							}
							font-weight: normal;
							padding:.6em .5em;
							background-color: @white;
							border-bottom:1px solid @whiteBorder;
							span{
								display: none;
							}
						}

						p {
							padding: 0 .5em;
							margin-top: 0;
							font-size: 1.25em;
							font-weight: 100;
							color:@grey;
						}

						i.picto {
							margin-right: auto;
							margin-left: auto;
							float:none;
						}

					}

				}
			}

			article {
				padding-top: @Softheader_height;
	
				position: absolute;
				
				height: 100%;
				top: 0;
				width: 100%;
				& > div{
					position: relative;
					width: 100%;
					height: 100%;
					overflow-x:hidden;
					overflow-y:auto;
				}
		
			}

			footer {
				background-color: @white;
				z-index: 110;
				position: absolute;
				left: 0;
				width:100%;
				padding: 1em;
				ul.ssmenu{
					li{
						display: inline;
						margin-right: .5em;
					}
				}
				ul.partners-list{
					li{
						width: 50%;
						padding: .5em;
						&:first-child{
							padding-left: 0;
						}
						&:last-child{
							padding-right: 0;
						}
						.partner-title{
							padding-bottom: .5em;
						}
						img{
							width: 100%;
							height: auto;
							max-width: 320px;
						}
					}
				}
			}
		}
	}

	/* SOFT */
	&.soft {

		section#soft {
			left: 0;
			@media screen and (max-width: @min-width-mobile){

				z-index: 101;
				padding-right: 0;
				background: @whiteSmokeHover;
				.bckBtn {
					display: block;
				}
				& > div {
					footer{
						ul.ssmenu li{
							width: 100%;
							display: block;
							margin: 0 0 1px 0;
							button {
								width: 100%;
								text-align: left;
							}
						}

						ul.partners-list li {
							width: 100%;
							img{
								max-width: inherit;
							}
						}
					}
					header{
						height: auto;
    					position: relative;
    					.redaction{display: none;}
    					h2 span {
							display: inline;
						}
    					ul.icons {
    						width: 100%;
    						li{

    							text-align: left;
    							width: 100%;
								
								button,
								i,
    							p,
    							&:before{
    								display: none;
    							}
    						}
    					}
    				}
				}
			}

		}

		nav {
			right:@largeurNav;
		}

	}

}