template(name='add_co_mover_modal')
	{{> modals inputAutocomplete=true modalTitle="Nouveau co-déménageur" modalDescription="" autocompleteSettings=settings inputLabel="Entrez un nom, un mail, ou choisissez un ami" cancelBtnLabel="Annuler" validBtnLabel="Ajouter"}}