template(name='invit_message_modal')
	{{> modals textarea=true modalTitle="Message d'invitation" modalDescription="" textareaDefaultValue=defaultMessage cancelBtnLabel="Annuler" validBtnLabel="Envoyer"}}