template(name="nav_ia")
    div
        textarea(id='ia-area' rows="4" cols="50")
        input(id='ia-input', style='width: 70%;')
        button(id='ia-send', style='width: 30%;float: right;') Send
    button(type="submit",class="ia vert")
        i(class="fa fa-comment")
        | Joindre SuperBiBi
