template(name="nav_ia")
    form(id="ia" class="tour-step-1 tour-step-2")
        textarea(id='ia-area', type="text", disabled="disabled")
        input(id='ia-input', type="text", autocomplete="off")
        button(id="ia-send",type="submit") sub
    button(type="submit", class="ia vert tour-step-1", id="call-ia")
        i(class="fa fa-comment")
        | {{_ "connectIa"}}