template(name='Todos_item')
	form(action='#', id='{{currentTodo._id}}')
		.squaredThree
			input#squaredThree(type='checkbox', value='None',data='{{currentTodo._id}}', name='checked')
			label(for='squaredThree')
		input(type='text', placeholder='{{_ currentTodo.title}}', value='{{currentTodo.title}}')
		span
			select(id="todolist", data="{{currentTodo._id}}")
				if listDropDown
					each list in listDropDown
						if isListSelected list
								option(value='{{list._id}}', selected="true")
									= renderIfJourJ(list.name)	
						else									
								option(value='{{list._id}}')
									= renderIfJourJ(list.name)
			if currentTodo.prioritaire
				.star.active
					i.fa.fa-star-o
					i.fa.fa-star
			else
				.star
					i.fa.fa-star-o
					i.fa.fa-star
