template(name="modals")
	div.modal.fade
		div
			+header
			if inputAndTextarea
				+input_and_textarea
			if inputAutocomplete
				+input_autocomplete
			if textReadOnly
				+textReadOnly
			if input
				+input
			if textarea
				+textarea
			+footer