template(name="amis_page")
	div.amis_page
		header
			div.admin-title 
				span
					| {{_ 'friendPageAdminTitle'}}
				ul.icons.admin-list
					each coMovers
						{{> admin_friend_item}}
					li.new
						h2
							| {{_ "Add"}}
						i.fa.fa-plus
			div.redaction
				div
					h1 {{_ 'friendPageTitle'}}
					p {{_ 'friendPageSubTitle'}}

		article
			div
				div.mover-friends-block
					div.mover-friends-title.bras
						i.picto
						h2 {{_ 'friendPageMoverFriendsTitle'}} xxxxx
					ul.mover-friends-list
						each movers
							{{> mover_friend_item}}
					div.inputFriendsMover
						i.fa.fa-plus
						{{> inputAutocomplete settings=settings id="newMoverFriend" class="form-control" name="newMoverFriend" placeholder="Entrez un nom, un mail, ou choisissez un ami" }}
						

				div.task-friends-block
					div.task-friends-title.participantsBig
						i.picto
						h2 {{_ 'friendPageTaskFriendsTitle'}}
					ul.task-friends-list
						each todos
							{{> task_item}}

		footer.partners-block
			ul.partners-list
				each partners
					{{> partner_item}}
				

template(name="admin_friend_item")
	li
		h2.admin-item-title
			if isOk
				i.fa.fa-star
			if isNotOk
				i.fa.fa-star-o
			if pending
				i.fa.fa-star-half-o
			| {{#if name}} {{name}} {{else}} {{mail}} {{/if}}
		img.avatar-image(src='{{picture}}', alt='avatar')
		button.small {{_ "remove"}}

template(name="mover_friend_item")
	li
		i.fa.fa-check
		img.avatar-image(src='{{picture}}', alt='avatar')
		span {{name}} {{mail}}
		if isMailOrInvitation
			small.answer - {{state}}
		if isPending
			button.resend.small {{_ "relaunchInvitation"}}
		button.delete.small
			i.fa.fa-lg.fa-times

template(name="task_item")
	li
		a.go-to-task.btn.small(href="/list/{{list}}/todo/{{_id}}") {{_ "goToTask"}}
		h3.task 
			|• {{title}}	
		ul.friends-list
			each friends
				li {{name}}{{mail}}

template(name='friend_item')
	div.friend-item-container
		img.friend-image(src='{{picture.data.url}}', alt='')
		span.friend-name {{name}}

template(name='friend_no_match')
