template(name="amis_page")
	div.amis_page
		header
			div.title-block
				h2 {{_ 'friendPageTitle'}}
				h3 {{_ 'friendPageSubTitle'}}
			div.admin-block
				div.admin-title {{_ 'friendPageAdminTitle'}}
				ul.admin-list
					each coMovers
						{{> admin_friend_item}}
					li.new
						div.admin-item-title Ajouter
						i.fa.fa-plus-circle


		div.friends-block
			div.mover-friends-block
				div.mover-friends-title
					div.mover-friends-image
					h2 {{_ 'friendPageMoverFriendsTitle'}} 28 décembre
				ul.mover-friends-list
					each movers
						{{> mover_friend_item}}
					{{> inputAutocomplete settings=settings id="newMoverFriend" class="form-control" name="newMoverFriend" placeholder="Entrez un nom, un mail, ou choisissez un ami" }}
					

			div.task-friends-block
				div.task-friends-title
					div.task-friends-image
					h2 {{_ 'friendPageTaskFriendsTitle'}}
				ul.task-friends-list
					each todos
						{{> task_item}}

		div.partners-block
			ul.partners-list
				each partners
					{{> partner_item}}
				

template(name="admin_friend_item")
	li
		div.admin-item-title
			if isOk
				i.fa.fa-star
			if isNotOk
				i.fa.fa-star-o
			if pending
				i.fa.fa-star-half-o
			span {{name}} {{mail}}
		img.avatar-image(src='{{picture}}', alt='avatar')
		div
			button Retirer

template(name="mover_friend_item")
	li
		i.fa.fa-check
		img.avatar-image(src='{{picture}}', alt='avatar')
		span {{name}} {{mail}}
		if isMailOrInvitation
			span.answer - {{state}}
		button.delete
			i.fa.fa-lg.fa-times

template(name="task_item")
	li
		div.left-container
			div.task {{title}}	
			ul.friends-list
				each friends
					li {{name}}{{mail}}
		div.right-container
			a.go-to-task.btn(href="/list/{{list}}/todo/{{_id}}") Aller à la tâche

template(name="partner_item")
	li
		a(href='{{url}}')
			div.partner-title {{title}}
			img.partner-image(src='{{picture}}', alt='')

template(name='friend_item')
	div.friend-item-container
		img.friend-image(src='{{picture.data.url}}', alt='')
		span.friend-name {{name}}

template(name='friend_no_match')

template(name='add_co_mover_modal')
	{{> modals inputAutocomplete=true modalTitle="Nouveau co-déménageur" modalDescription="" autocompleteSettings=settings inputLabel="Entrez un nom, un mail, ou choisissez un ami" cancelBtnLabel="Annuler" validBtnLabel="Ajouter"}}