@import './utils.less';

.btn,
button {

  &#at-facebook {
    
    i {
      margin-right:.75em;
    }

    border:0;
    width: 100%;
    padding: 1em;
    text-transform: uppercase;
    color:white;
    &,
    &:hover{
      background: rgb(25,71,170);
      background: -moz-linear-gradient(top,  rgba(25,71,170,1) 0%, rgba(19,55,132,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(25,71,170,1) 0%,rgba(19,55,132,1) 100%);
      background: linear-gradient(to bottom,  rgba(25,71,170,1) 0%,rgba(19,55,132,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1947aa', endColorstr='#133784',GradientType=0 );
    }
    &:active{
      box-shadow: none;
    }

  }
  color: inherit;
  cursor:pointer;
  background-color: @whiteSmokeHover;
  border:1px solid @whiteBorder;
  font-size: inherit;
  // .boxShadow();
  padding: .5em;
  // font-weight: bold;
  font-size: 1.1em;
  &.small{
    font-size: .8em;
    padding:.4em .5em;
  }


  i.fa{
    vertical-align: middle;
  }
  &.rouge,
  &.vert{
    color:white;
    border: 0;
  }
  &.rouge{
    .degradeRouge();
  }
  &.vert{
    .degradeVert();
    &:active{
      .shadowInset(@green_dark);
    }
  }
  
  &:active {
      outline: -webkit-focus-ring-color auto 0;
  }

  &:active{
    .shadowInset(@whiteBorder);
  }

  &:not(.rouge):not(.vert):hover {
    background-color: @whiteSmoke;
  }
  &:disabled{
    opacity:1;
    color:@whiteBorder;
    &:active{
      box-shadow: none;
    }
  }
}
